@import "tailwindcss";


@theme {
    --color-primary: #00413D;
    --color-secondary: #E5745D;
    --font-vollkorn: var(--font-vollkorn);
    --font-jost: var(--font-jost)
}
.btnProparty {
    @apply hover:after:bg-secondary after:w-0 hover:after:w-full after:h-px relative after:absolute after:bottom-0 after:left-0 after:duration-300 after:transition-all
}
.swiper-pagination {
    bottom: -20px !important;
    /* negative না */
    left: 50%;
    transform: translateX(-50%);
}
.swiper-pagination-bullet {
    background-color: #E5745D !important;
    height: 11px !important;
    width: 11px !important;
    border-radius: 50% !important;
}
